body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  overflow: auto;
  margin-bottom: 10rem;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 4rem;
  width: 100%;
  border: 1px solid $color-light-grey;
  font-family: OpenSans;
  padding: 1rem 0;

  text-transform: uppercase;
  // margin-top: 10rem;
}

.main {
  // position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: calc(100vh - 12rem);
  justify-content: start;
  width: 120rem;
  // margin-bottom: 20rem !important;

  // overflow: auto;
  // position: relative;
  padding-bottom: 5rem;

  @include respond(px1300) {
    width: 100%;
    margin: 0 10rem 0rem 10rem;
  }

  @include respond(px1050) {
    margin: 0 5rem 5rem 5rem;
  }

  @include respond(px700) {
    margin: 0 2.5rem 5rem 2.5rem;
  }
}

#main-login,
#main-register,
#main-update-user {
  .form__group {
    margin-bottom: 4rem;
  }

  .form__change {
    margin: 4rem;
  }
}

#main-register {
  @include respond(px950) {
    .form--register {
      width: 40rem;
    }
  }
}

#main-reset-password {
  h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  .btn {
    margin-bottom: 5rem;
  }
}
