.add-class-btn {
  position: absolute;
  @include centered;
  top: 17.2rem;
  right: calc((100vw - 120rem) / 2);
  background-color: $color-blue;

  &:hover {
    transform: scale(1.1);
  }

  @include respond(px1300) {
    right: 10rem;
  }

  @include respond(game-mode) {
    position: static;
    top: 0;
    margin: 0rem 0 3rem;
  }

  a {
    color: white;
  }
}

.container__lessons {
  width: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5rem;
  .container__lessons--header,
  .container__lessons--data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 120rem;

    .container__row {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid $color-grey;
      height: 5rem;
      overflow: hidden;
      padding-left: 5rem;

      .column {
        width: calc(100% / 6);
        max-height: 3rem;
        // width: 25rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-x: hidden;
        font-size: 1.8rem;
        font-family: $font-secondary;
        overflow: hidden;
      }

      .column--heading {
        font-family: $font-secondary;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 1;
        color: $color-grey;
        margin-right: 1rem;
      }

      .delete-lesson-btn {
        position: absolute;
        right: 1rem;
        display: none;
      }

      &:hover {
        background-color: $color-light-grey;
        cursor: pointer;

        .btn {
          @include centered;
        }
      }
    }

    .container__row--heading {
      &:hover {
        background-color: white;
      }
      .container__column-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1rem;
        cursor: auto;

        &:hover {
          .column--heading {
            cursor: pointer;
            border-bottom: 1px solid $color-blue;
          }
        }

        .btn--sort-arrow {
          i {
            color: $color-grey;
          }
        }
      }
    }
  }
}
