#main-lesson {
  // background-color: pink;t
  .container--instructions {
    p {
      font-size: 2rem;
      font-family: $font-main;
    }
  }

  .title--2 {
    margin-top: 5rem;
  }

  .form {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .container--form {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: auto;
      &-img {
        // background-color: blue;
        width: 20rem;
        height: 20rem;
        position: relative;

        input[type='file'] {
          display: none;
        }

        label {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          // padding: 2rem;
          // text-align: center;
          background-color: #f8f8f8;
          border: 3px solid #eee;
          border-radius: 7px;
          z-index: 100;
          overflow: hidden;
          // transition: all 0.2s ease;
          // user-select: none;
          &:hover {
            border-color: $color-purple;
          }
          &.hover {
            border: 1px solid $color-purple;

            // #start {
            //   i.fa {
            //     transform: scale(0.8);
            //     opacity: 0.3;
            //   }
            // }
          }
          &.file-upload {
            background-color: green;
          }
          img {
            object-fit: cover;
            width: 15rem;
            height: 15rem;
          }
          .start {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i {
              margin-bottom: 1rem;
              font-size: 3rem;
            }
          }
          .response {
          }
        }

        // #start {
        //   width: 100%;
        //   &.hidden {
        //     display: block;
        //   }
        //   i.fa {
        //     font-size: 50%;
        //     margin-bottom: 1rem;
        //     transition: all 0.2s ease-in-out;
        //   }
        // }
        // #response {
        //   &.hidden {
        //     display: none;
        //   }
        //   #messages {
        //     margin-bottom: 0.5rem;
        //   }
        // }

        // #file-image {
        //   width: auto;
        //   height: auto;
        //   max-width: 200rem;
        // }
      }

      &-question {
        // background-color: green;
        flex: 1;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
        border: 1px solid $color-grey;
        margin-left: 1rem;
      }
      textArea {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        font-family: $font-secondary;
        color: $color-dark-grey;
        outline: none;
        border: none;
        // margin-right: 5rem;
        // margin-left: 5rem;
      }
    }

    .vertical-button {
      white-space: pre-line;
      text-align: center;
      min-width: 5rem;
      height: 100%;
      padding: 1rem;
      margin-right: 1rem;
      background-color: $color-blue;
      border-radius: 0;
      margin-left: 1rem;
    }
  }

  .container--questions {
    width: 120rem;
    margin-bottom: 10rem;

    .container--question {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      &:not(:last-of-type) {
        margin-bottom: 2.5rem;
      }
      &.active {
        border: 1px solid black;
      }

      .container-edit-question-form {
        flex: 1;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid grey;

        .edit-question-form {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;

          .edit-text {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            align-items: flex-start;
            height: 10rem;
            // width: 100rem;
            outline: none;
            font-size: 2rem;
            border: none;
          }
        }
        button {
          margin-right: 1rem;
        }
      }

      img {
        margin-right: 5rem;
        height: 10rem;
        width: 10rem;
        // border: 1px solid #000;
      }
      .question {
        flex: 1;
        height: 10rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: 2px solid $color-light-grey;
        padding: 1rem;

        .question-text {
          flex: 1;
          height: 100%;
          font-size: 2.5rem;
          color: $color-dark-grey;
          margin-right: 2rem;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
        }

        .question-number {
          width: 3rem;
          font-size: 3rem;
          font-family: $font-main;
        }

        .container__question-btns {
          width: 3rem;
          display: none;
          height: 100%;
          flex-direction: column;
          justify-content: space-around;
        }
      }
      &:hover > .question > .container__question-btns {
        display: flex;
      }

      &:hover > .question > .question-number {
        display: none;
      }
    }
  }

  #play-button {
    margin: 2.5rem 0 5rem;
  }
}
