// COLORS
$color-blue: #7bc0bd;
$color-pink: #e27488;
$color-purple: #4b3d6d;
$color-black: #302929;
$color-white: #fff;
$color-grey: #bdbdbd;
$color-light-grey: #eaeaea;
$color-very-light-grey: rgba(234, 234, 234, 0.4);
$color-grey-secondary: #f0f0fb;

$color-success: #2ecc71;
$color-error: #e74c3c;

// FONTS
$font-main: 'Gilroy', sans-serif;
$font-secondary: 'Open Sans';
