extends base

block content
  main.main.main--align-middle#main-forgot-password

    +title-1('Forgot Password')

    .container.container--form

      form.form.form--small#forgot-password-form(autocomplete="off")
        .form__group
          .form__inputs
            label.form__label(for="email") Email
            input.form__input#email(type="email" autofocus required)
          .form__inputs
            button.btn.btn__lg.btn--pink#forgot-password-btn Reset Password