extends base

block content
  main.main#main-landing
    +title-1('Connect Four')

    h2.title--2 Classroom Games by Nick de Waal

    .container.container--game
      
      .game-board
        .end-game-container.status.hidden
          
        .game-buttons
          button.full-screen-btn Full Screen
          button.review-btn Review
          button.undo-btn Undo
          button.new-game-btn New Game
          button.reset-btn Reset
          
          
          


        .cell.row-top.col-0
        .cell.row-top.col-1
        .cell.row-top.col-2
        .cell.row-top.col-3
        .cell.row-top.col-4
        .cell.row-top.col-5
        .cell.row-top.col-6
        .cell.row-0.col-0.left-border.top-border
        .cell.row-0.col-1.top-border
        .cell.row-0.col-2.top-border
        .cell.row-0.col-3.top-border
        .cell.row-0.col-4.top-border
        .cell.row-0.col-5.top-border
        .cell.row-0.col-6.top-border.right-border
        .cell.row-1.col-0.left-border
        .cell.row-1.col-1
        .cell.row-1.col-2
        .cell.row-1.col-3
        .cell.row-1.col-4
        .cell.row-1.col-5
        .cell.row-1.col-6.right-border
        .cell.row-2.col-0.left-border
        .cell.row-2.col-1
        .cell.row-2.col-2
        .cell.row-2.col-3
        .cell.row-2.col-4
        .cell.row-2.col-5
        .cell.row-2.col-6.right-border
        .cell.row-3.col-0.left-border
        .cell.row-3.col-1
        .cell.row-3.col-2
        .cell.row-3.col-3
        .cell.row-3.col-4
        .cell.row-3.col-5
        .cell.row-3.col-6.right-border
        .cell.row-4.col-0.left-border
        .cell.row-4.col-1
        .cell.row-4.col-2
        .cell.row-4.col-3
        .cell.row-4.col-4
        .cell.row-4.col-5
        .cell.row-4.col-6.right-border
        .cell.row-5.col-0.bottom-border.left-border
        .cell.row-5.col-1.bottom-border
        .cell.row-5.col-2.bottom-border
        .cell.row-5.col-3.bottom-border
        .cell.row-5.col-4.bottom-border
        .cell.row-5.col-5.bottom-border
        .cell.row-5.col-6.bottom-border.right-border
        .container--image(id='img-0')
            button.question-modal-btn
              img(src="https://res.cloudinary.com/booklvr/image/upload/v1606280006/connectfour/classroom_square_uxlxd7.png" alt="")
        .container--image(id='img-1')
            button.question-modal-btn.send-to-login-btn Register
        .container--image(id='img-2')
            button.question-modal-btn.send-to-login-btn Your 
        .container--image(id='img-3')
            button.question-modal-btn.send-to-login-btn Account
        .container--image(id='img-4')
            button.question-modal-btn.send-to-login-btn To
        .container--image(id='img-5')
            button.question-modal-btn.send-to-login-btn Start
        .container--image(id='img-6')
            button.question-modal-btn.send-to-login-btn
              img(src="https://res.cloudinary.com/booklvr/image/upload/v1606092017/5fbb0479c43207e1e7781fec/kppcxaqlpsuukczucufp.png" alt="")

        .container--modals.hidden
          .modal--header-container
            h3.modal--title Let's Review
            button.btn.btn__md.btn__rnd.exit-modal-btn
              i.fa.fa-times

          .modal--carousel-container
            button.carousel-arrow.carousel-arrow-left
              i.fa.fa-arrow-left
            button.carousel-arrow.carousel-arrow-right
              i.fa.fa-arrow-right

           
              
            .carousel-slide(id='slide-1')
              .carousel-slide__image-container
                img.carousel-slide__image(src="https://res.cloudinary.com/booklvr/image/upload/v1606202726/connectfour/createlesson_t2xufw.png" alt='add lesson')
                
              .carousel-slide__text
                h3 Add information like title, class name, chapter and target language to make your lessons easier to find.

            .carousel-slide(id=`slide-2`)
              .carousel-slide__image-container
                img.carousel-slide__image(src="https://res.cloudinary.com/booklvr/image/upload/v1606202945/connectfour/savedGames_ipmgb0.png" alt='add questions')
              .carousel-slide__text
                h3 You can search for a created lesson by title, class, chapter, target, date created at, and date updated at.

            .carousel-slide(id=`slide-3`)
              .carousel-slide__image-container
                img.carousel-slide__image(src="https://res.cloudinary.com/booklvr/image/upload/v1606202710/connectfour/addQuestion_olqpqc.png" alt='add questions')
              .carousel-slide__text
                h3 Add at least 7 questions using the simple drag and drop form.  Once you have created 7 questions you can play.

            .carousel-slide(id=`slide-4`)
              .carousel-slide__image-container
                img.carousel-slide__image(src="https://res.cloudinary.com/booklvr/image/upload/v1606202732/connectfour/editPhotos_ckwkhb.png" alt='add questions')
              .carousel-slide__text
                h3 Your completed questions will appear in a list below the form.  You can edit these questions any time by hovering over them

            .carousel-slide(id=`slide-5`)
              .carousel-slide__image-container
                img.carousel-slide__image(src="https://res.cloudinary.com/booklvr/image/upload/v1606202936/connectfour/review_iit2lv.png" alt='add questions')
              .carousel-slide__text
                h3 Review your questions at any time by either clicking on one of the photos at the bottom of the game or by clicking the review button.

            .carousel-slide(id=`slide-6`)
              .carousel-slide__image-container
                img.carousel-slide__image(src="https://res.cloudinary.com/booklvr/image/upload/v1606202723/connectfour/connectfour_qnxjhr.png" alt='add questions')
              .carousel-slide__text
                h3 Use it in your classroom for a quick and fun activity.
            
            .carousel-slide(="slide-7")
              .carousel-cta
                .btn.btn__lg.btn--blue.carousel-cta-btn
                  a(href="/login") Login
                .btn.btn__lg.btn--blue.carousel-cta-btn
                  a(href="/register") Register
              .carousel-slide__text 
                h3 Register or Login Now to start making your own Connect Four Lessons.

          .modal--footer-container
            each question, index in [1,2,3,4,5,6, 7]
              button.carousel-index-btn(id=`index-btn-${index}`)
                i.fa.fa-circle
    
    
    
    .divide.dark
    
    h2.title--2.m-l How to Play
    

    .container--card
      img(src="https://res.cloudinary.com/booklvr/image/upload/v1606202723/connectfour/connectfour_qnxjhr.png")
      .text-container 
        h2 Play Connect Four
        p Add photos and questions to the connect four board to make learning fun. 
      
    .divide
      
    .container--card
      img(src="https://res.cloudinary.com/booklvr/image/upload/v1606202726/connectfour/createlesson_t2xufw.png")
      .text-container
        h2 Create A Lesson
        p Add information like title, class name, chapter and target language to make your lessons easier to find.  
      
    .divide

    .container--card
      img(src="https://res.cloudinary.com/booklvr/image/upload/v1606202945/connectfour/savedGames_ipmgb0.png")
      .text-container
        h2 Find Your Lesson
        p You can search for a created lesson by title, class, chapter, target, date created at, and date updated at.  
      
    .divide
    
    .container--card
      img(src="https://res.cloudinary.com/booklvr/image/upload/v1606202710/connectfour/addQuestion_olqpqc.png")
      .text-container
        h2 Add Your Questions
        p Add at least 7 questions using the simple drag and drop form.  Once you have created 7 questions you can play. 

    .divide 
    
    .container--card
      img(src="https://res.cloudinary.com/booklvr/image/upload/v1606202732/connectfour/editPhotos_ckwkhb.png")
      .text-container
        h2 Edit Your Questions
        p Your completed questions will appear in a list below the form.  You can edit these questions any time by hovering over them. 

    .divide

    .container--card
      img(src="https://res.cloudinary.com/booklvr/image/upload/v1606202936/connectfour/review_iit2lv.png")
      .text-container
        h2 Review With Your Students
        p Review your questions at any time by either clicking on one of the photos at the bottom of the game or by clicking the review button.  
    
    .divide

    h2.cta-title Register Now To Start

    .container--cta
      

      .btn.btn__lg.btn--blue.cta-btn
        a(href="/login") Login
      .btn.btn__lg.btn--blue.cta-btn
        a(href="/register") Register