extends base

block content
  main.main#main-lessons

    +title-1('SavedGames')

    .add-class-btn
      a(href="/addLesson")
        i.fas.fa-plus

    .container.container__lessons
      .container__lessons--header
        .container__row.container__row--heading
          .column.container__column-heading
            .column--heading.asc#sort-title Title
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
          .column.container__column-heading
            .column--heading.asc#sort-class Class
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
          .column.container__column-heading
            .column--heading.asc#sort-chapter Chapter
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
          .column.container__column-heading
            .column--heading.target.asc#sort-target Target
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
          .column.container__column-heading
            .column--heading.asc#sort-createdAt Created At
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
          .column.container__column-heading
            .column--heading.asc#sort-updatedAt Updated At
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
      .container.container__lessons--data
        
    

  script.
    const lessons=!{JSON.stringify(lessons)};
    console.log(lessons);