extends base

block content
  main.main#main-classrooms

    +title-1('SavedGames')

    .add-class-btn
      a(href="/addLesson")
        i.fas.fa-plus

    .container--lessons
      ol
        
        each lesson in lessons 
          li
            a(href=`/lessons/${lesson._id}`)= lesson.title
        
    

