extends base

block content
  main.main#main-lessons

    +title-1('SavedGames')

    .btn.btn__lg.add-class-btn
      a(href="/addLesson") Add A Lesson
        //- i.fas.fa-plus

    .container.container__lessons
      .container__lessons--header
        .container__row.container__row--heading
          .column.container__column-heading.col-0
            .column--heading.asc#sort-title Title
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
            .resize-handler
          .column.container__column-heading.col-1
            .column--heading.asc#sort-class Class
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
            .resize-handler
          .column.container__column-heading.col-2
            .column--heading.asc#sort-chapter Chapter
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
            .resize-handler
          .column.container__column-heading.col-4
            .column--heading.target.asc#sort-target Target
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
            .resize-handler
          .column.container__column-heading.col-5
            .column--heading.asc#sort-createdAt Created At
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
            .resize-handler
          .column.container__column-heading.col-6
            .column--heading.asc#sort-updatedAt Updated At
            .btn.btn--sort-arrow.hidden
              i.fas.fa-caret-up
            .resize-handler
      .container.container__lessons--data



  script.
    const lessons=!{JSON.stringify(lessons)};
