extends base

block content
  main.main.main--align-middle#main-register
    .container.container--form
      h2.title.title--2 Register
      form#form-register.form.form--register(autocomplete = 'off')

        .form__columns
          .form__group
            .form__inputs
              label.form__label(for="displayName") Display name
              input.form__input#display-name(type="text" required)
              p.validation-message.hidden 
            .form__inputs
              label.form__label(for="email") Email
              input.form__input#email(type="email" required)
              p.validation-message 

          .form__group
            .form__inputs
              label.form__label(for="password") Password
              input.form__input#password(type="password" required)
              p.validation-message 
            .form__inputs
              label.form__label(for="confirm-password") Confirm password
              input.form__input#password-confirm(type="password" required)
              p.validation-message 
        .form__group
          button.btn.btn__lg.btn--blue#submit-register-btn(type="submit") Sign Up 

      a.btn.btn__lg.btn--google(href="/api/v1/auth/google")
        span.container--logo
          img(src="/img/btn_google_light_normal_ios.svg") 
        .btn__lg.btn--google-text Sign up with Google

      p.form__change Already have an account?
        a(href="/login")  Login 