extends base

block content
  main.main#main-reset-password

    +title-1('Reset Password')

    if token.valid 
      h2.title.title-2 Expires on #{moment(token.expires).format('dddd, MMMM Do YYYY, h:mm:ss A')}

      .container.container--form
        form.form.form--small#password-reset-form(data-token=token.token, autocomplete="off")
          .form__group
            .form__inputs
              label.form__label(for="password") Password
              input.form__input#password(type="password" required)
            .form__inputs
              label.form__label(for="confirm-password") Confirm password
              input.form__input#password-confirm(type="password" required)
            .form__inputs
              button.btn.btn__lg.btn--pink#reset-password-btn Reset Password
    else 
      .container.container--paragraph
      p Sorry This link has expired.  Please request a new password reset email.  
